<div *ngFor="let user of  Usuarios">
    <div class="container" id="colorbl" style="border: white 2px solid;"> <br>
        <div class="row">
            <div class="col-lg-6 col-sm-12 text-center"> <br>
                <img src="https://icon-library.com/images/guest-icon/guest-icon-24.jpg"width="300px" height="350px" style="border: white 2px solid;">
            </div> 
            <div class="col-lg-6 col-sm-12" style="color: white;"> <br>
                <h3>{{user.nombre}}</h3>
                <p>CORREO:{{user.email}}</p> 
                <p>rol:{{user.rol}}
                </p>
                <div *ngIf="rol">
                    <form [formGroup]="FormUser" (ngSubmit)="update()">
                        <input style='display: none;'type='checkbox' disable='' checked='' name='cine' value=''
                         formControlName="libro"#libro [class.is-invalid]="libroValidate">
                        <input style='display: none;'type='checkbox' disable='' checked='' name='lugar' value=''
                         formControlName="cliente"#cliente [class.is-invalid]="clienteValidate">
                         <input type="submit" class="btn btn-primary" value="HACER CLIENTE">&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-info" (click)="goBack()">VOLVER</button>
                    </form>
                </div>
                <div *ngIf="!rol">
                    <form [formGroup]="FormUser" (ngSubmit)="update()">
                        <input style='display: none;'type='checkbox' disable='' checked='' name='cine' value=''
                         formControlName="libro"#libro [class.is-invalid]="libroValidate">
                        <input style='display: none;'type='checkbox' disable='' checked='' name='lugar' value=''
                         formControlName="cliente"#cliente [class.is-invalid]="clienteValidate">
                         <input type="submit" class="btn btn-primary" value="HACER ADMIN">&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-info" (click)="goBack()">VOLVER</button>
                    </form>
                </div>
            </div> 
    </div> <br>
</div>
