<form [formGroup]="autorForm"(ngSubmit)="update()">
    <label for="cate-nombre"> Nuevo Nombre</label><br>
    <input id="cate-nombre" type="text"class="form-control" placeholder="Escribe el nevo Autor"class="form-control" 
    formControlName="nombre"[class.is-invalid]="nombreValidate"><br>
    <input type="submit"[disabled]="autorForm.invalid" class="btn btn-primary" value="Guardar">&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-info" (click)="goBack()">volver</button>
</form>
