<h3>Añadir categoria</h3>
<br>
<form [formGroup]="editCategoria"(ngSubmit)="add()">
    <label for="">Nombre</label><br>
    <input type="text"class="form-control" placeholder="Escribe la nueva categoria"class="form-control" 
    formControlName="nombre" #nombre [class.is-invalid]="nombreValidate"><br>
    <input type="submit"[disabled]="editCategoria.invalid" class="btn btn-primary" value="Añadir categoria" (click)="nombre.value=''">
</form>
<br><br>
<hr>
<table class="table table-hover">
    <thead class="table-danger">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOMBRE</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cate of catego">
        <th scope="row">{{cate.id}}</th>
        <td>{{cate.nombre}}</td>
        <td>
            <button type="submit" class="btn btn-danger"
            (click)="delete(cate)">ELIMINAR</button>
        </td>
        <td>
            <button type="submit" class="btn btn-warning"><a routerLink="/actuacate/{{cate.id}}">EDITAR</a></button>
        </td>
      </tr>
    </tbody>
</table>
